{% extends 'PayeverTestBundle::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>Welcome to</span> Payever test</h3>
            </div>
            <div id="appData"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
